<form action="https://submit-form.com/qslwscPHk" class="form-wrapper__form form">
<div class="markdown">
        {{quick_update.caption | text}}
    </div>

    <p>
        <label>Name</label>
        <input type="text" name="name" required placeholder="First Name"/>
    </p>
    <p>
        <label>Email</label>
        <input type="email" name="email" required placeholder="Email Address"/>
    </p>
    <p>
        <button type="submit">Send</button>
    </p>
    <a href="{{quick_update.form_url}}">
        <img src="{{quick_update.form_logo}}" alt="Form Logo">
    </a>
</form>