
.navbar {
	padding: 20px 0px;
	background-color: $containerColor;

	&.sticky {
		position: sticky;
		top: 0;
		left: 0;
		@media (max-width: px($mediumBreakpoint)) {
			position: static;
		}
	}

	.logo-container {
		width: 20%;

		img {
			display: block;
			width: 100%;
		}

		@media (max-width: px($mediumBreakpoint)) {
			width: 30%;
		}
		@media (max-width: px($smallBreakpoint)) {
			width: 40%;
		}
		@media (max-width: px($smallerBreakpoint)) {
			width: 50%;
		}
	}

	.social-container {
		width: 17%;

		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;

			li {
				a {
					display: flex;
					align-items: center;

					i {
						font-size: 25px;
						color: $socialsBackground;
					}

					&:hover {
						i {
							opacity: 0.75;
						}
					}
				}
			}
		}
	}

	.menu-container {
		width: 63%;



		ul.main-menu {
			display: flex;
			gap: 10px;
			@media (max-width: px($mediumBreakpoint)) {
				//display: none;
			}

			li {
				display: flex;
			}

			li.has-submenu {
				position: relative;

				&.is-active {
					> a {
						pointer-events: all !important;
						background-color: $black;

						span {
							color: $link;

							&:before, &:after {
								border-color: $link;
							}
						}
					}
				}
			}

			> li {

				border-style: solid;
				border-top-width: .5px;
				border-bottom-width: .5px;
				border-left-width: .5px;
				border-right-width: .5px;
				border-color: rgb(74, 125, 190);
				background-color: #233651;

				> a {
					padding: 8px 5px;
					font-size: 14px;
					color: $white;
				}
			}

			ul.submenu {
				display: none;
				padding: 10px;
				position: absolute;
				background-color: #233651;
				width: 200px;
				top: 103%;

				li {
					a {

						width: 100%;
						font-size: 14px;
						padding: 10px;
						color: $white;
						display: block;
					}
				}

				&.is-active {
					display: block;

					li.has-submenu {
						> a {
							pointer-events: none;
						}

					}
				}

				&.third, &.fourth {
					padding: 0;
					top: 0;
					left: 100%;
				}

				&.second {

				}

				&.third {

				}

				&.fourth {

				}
			}

			span.icon {
				position: absolute;
				width: 12px;
				height: 12px;
				right: 0;
				top: 50%;
				transform: translateY(-50%);

				&:before, &:after {
					content: '';
					position: absolute;

					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}

				&:before {
					width: 12px;
					border-top: 3px solid $white;
				}

				&:after {
					height: 12px;
					border-left: 3px solid $white;
				}
			}

			span.text {
				pointer-events: none;
				position: relative;
				transition: 0.3s;
				padding-right: 38px;
				display: block;
				width: 100%;
			}

			a {

				&.current-page,&:hover {
					background-color: $black;

					span {
						color: $link;

						&:before, &:after {
							border-color: $link;
						}
					}
				}
			}
			&.mobile-menu{
opacity: 0;
				height: 0;
				position: absolute;
				display: flex;
				width: 75%;
				margin: 20px auto;
				gap: 0;
				flex-direction: column;
				.menu-link{
					width: 100%;
				}
				li{
					flex-direction: column;
					a{
						pointer-events: all!important;
					}
				}
				.submenu{
					position: static;
					width: 100%;
					display: flex;
					flex-direction: column;
					&.is-active{

					}
					&.third,&.fourth,&.second{
						border-style: solid;
						border-top-width: .5px;
						border-bottom-width: .5px;
						border-left-width: .5px;
						border-right-width: .5px;
						border-color: rgb(74, 125, 190);
					}
					&.third,&.fourth{
						padding: 10px;
					}
				}
			}
		}
		.menu-icon {
			display: none;
			margin: 0 auto;
			@media (max-width: px($mediumBreakpoint)) {
				display: block;
			}
			width: 24px;
			position: relative;
			border-radius: 0;
			background-color: transparent;
			border: none;
			//padding: 0;
			height: 36px;
			span {
				position: absolute;
				display: block;
				background-color: $white;
				width: inherit;
				height: 3px;
				transition: 0.3s;
				transform: translate(-50%, -50%);
				left: 50%;
				top: 50%;

				&:after, &:before {
					transition: 0.3s;
					content: '';
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					width: 100%;
					height: 100%;
					background-color: $white;

				}

				&:before {
					top: 9px;
				}

				&:after {
					bottom: 9px;
				}
			}
			&.is-active{
				background-color: $accent;
				padding: 12px 18px;
			}
		}
		.menu-icon.is-active + ul.main-menu.mobile-menu{
opacity: 1;
			height: auto;
			position: static;
		}
	}
}

