<footer>
    <div class="container align-center jc-sb">
        <div class="footer-column">
            <p id="footer-caption">{{footer.footer_caption}}</p>
        </div>
        <div class="footer-column">
            <a href="/">
                <img src="{{footer.footer_logo}}" alt="logo">
            </a>
        </div>
        {% if footer.footer_links %}
        <ul class="footer-column footer-menu">
            {% for link in footer.footer_links %}
            <li class="link-item">
                <a href="{{ link.url }}">{{ link.label }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</footer>
